name: Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [project1, project2]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: '0.7.6'
          enable-cache: true
          cache-dependency-glob: |
            **/uv.lock
            **/pyproject.toml

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          # Uses the latest python version allowed by the project's constraints.
          python-version-file: '${{ matrix.project }}/pyproject.toml'

      - name: Install dependencies
        working-directory: ./${{ matrix.project }}
        run: uv sync --locked --all-extras

